.Tablerow{
	
	border: 1px solid black;
	
	
}

.Tableport{
	
	padding: 2%;
	border-spacing: 10px;
	width: 50%;
	font-size: 160%;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px solid black;
	
}


.Title{
	
	float:left;
	
	
}


body{
	
	
	padding-left: 1%;
	padding-right: 1%;
    margin-left: 8%;
	margin-right: 8%;
	text-align: center;
	
}

.titlelist{
	display: inline;
	text-align:center;
	flex-direction: row-reverse;
	flex: 1;
	
	
}
.Pagename{
	
	text-align: center;
	padding: 1%;
	font-size: 300%;
	
}


.Navlist{
	margin-left: 71%;
	margin-top: 2.5%

}

.navigation{
border-style: solid;
overflow: auto;
	float: center;
}

.navtitle{
	border-style: solid;
	font-size: 200%;
	text-decoration: none;
	color: black;
	padding: 2%;
	
}

.pagetitle{
	float:left;
	text-align: left;
	padding: 1%;
	font-size: 200%;
	
}

.Minititle{
	
	text-align: left;
	font-size: 250%;	
}